@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');



/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --primary-color: #8BC370;
    --accent-color: #4B862F;
    --text-color-b: #000000;
    --text-color-w: #FDFFF3;
    --container-color: #E7EDE4;
    --body-color: #FDFFF3;
    /* ================= */
    /* == FONT & TYPOGRAPHY == */
    --body-font: "Oxygen", sans-serif;;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    /* ================= */

    /* =========Z INDEX======== */
    --z-fixed: 10;
    --border-radius: 4px;
    /* ================= */

}


/* -=================================================================- */

/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1{
    font-size: var(--h1-font-size);	
}

h2{
    font-size: var(--h2-font-size);	
}

h3{
    font-size: var(--h3-font-size);	
}

h4{
    font-size: var(--h4-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* -================================= REUSABLE CSS CLASSES ================================- */
.container{
    max-width: 968px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container-alt{
    max-width: 968px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding: 0 0 7rem;
    overflow-x: hidden;
}

.section-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}
.section-title span{
    color: var(--primary-color);
}

.description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

/* -======= BUTTONS ========- */
.button{
    height: 64px;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.button-secondary{
    height: 48px;
    width: 184px;
    display: grid;
    place-items: center;
    border-radius: var(--border-radius);
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.button-secondary:hover{
    border: none;
    width: 234px;
}

.button-secondary p{
    font-weight: var(--font-light);
    transition: all .4s ease-in-out;
}

.button-secondary:hover p{
    font-weight: var(--font-bold);
}

.accent-line{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 25%;
    height: 2px;
    background-color: var(--accent-color);
}

/* -=================================================================- */

/* -================================= HEADER & NAVIGATION ================================- */
.header{
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--body-color);
    border-radius: 1rem;
    color: var(--text-color-b);
    max-width: 876px;
    width: 90%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 16px #0000006d;
    padding: 1rem 3rem;
    z-index: var(--z-fixed);
    transition: all .4s ease-in-out;
}

.header.header-alt{
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 4px 16px #00000015;
}

.nav-logo img{
    width: 150px;
}

.nav{
    position: absolute;
    bottom: 0;
    top: 110%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--body-color);
    border-radius: 0 0 1rem 1rem ;
    z-index: 0;
    transition: all .4s ease-in-out;
    display: flex;
    flex-direction: column;
}

.nav.show-menu{
    /* height: 589px; */
    height: 664px;
    box-shadow: 0 16px 16px #00000020;
}

.nav-toggle{
    position: relative;
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
}

.toggle-line{
    position: absolute;
    content: 'none';
    width: 100%;
    height: 4px;
    background-color: var(--text-color-b);
    right: 0;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}

.line-1{
    top: 0;
}

.line-2{
    top: 50%;
}

.line-3{
    top: 100%;
}

.toggle-line.move{
    top: 50%;
}

.nav-container{
    position: relative;
    /* height: max-content; */
    width: 100%;
    visibility: hidden;
}

.nav-container-1{
    border-bottom: 2px solid black;
    padding: 80px 1rem 2rem;
}

.nav.show-menu .nav-container{
    visibility: visible;
}

.nav-list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.nav-list-item{
    position: relative;
    height: 32px;
}

.nav-list-item a{
    font-size: 1.728rem;
    /* font-size: 24px; */
    font-weight: 300;
    color: black;
    position: absolute;
    left: -500%;
    top: 0;
    transition: all .8s ease-in-out;
}

.nav.show-menu .nav-container .nav-list .nav-list-item a{
    left: 0;
}

.nav-container-2{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 1rem;
}

.nav-container-2 p{
    font-weight: 300;
}

/* NAVIGATION FOR MOBILE DEVICES */
@media screen and (max-width: 1024px){

}
/* NAVIGATION FOR DESKTOP DEVICES */

@media screen and (min-width: 1024px){

    .header{
        top: 2rem;
    }

    .nav.show-menu{
        height: 398px;
        flex-direction: row;
    }

    .nav-list-item a{
        left: -100%;
    }

    .nav-container-1{
        border-bottom: none;
        border-right: 2px solid black;
    }

    .nav-container-2{
        padding-top: 80px;
    }

}
/* -======================================================================================- */


/* -================================= HOME SECTION 1 ================================- */
.home{
    /* height: 984px; */
    height: 100vh;
    overflow: hidden;
    color: var(--text-color-w);
}

.home-container{
    margin-top: 4rem;
    justify-content: center;
    height: 100%;
    gap: 3rem;
}

.home-info-container{
    gap: 1rem;
}

.home-title{
    font-weight: var(--font-bold);
}

.home-subtitle{
    font-size: var(--h4-font-size);
    font-weight: var(--font-light);
}

.home-buttons-container{
    gap: 2rem;
    width: 100%;
}

.home-button{
    height: 80px;
    max-width: 344px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.home-button h4{
    color: var(--text-color-w);
    font-weight: var(--font-light);
}

.home-button-primary{
    background-color: var(--primary-color);
}

.home-button-secondary{
    background-color: var(--text-color-b);
}

.home-background-image{
    position: absolute;
    /* bottom: 400px; */
    bottom: 0;
    left: 0;
    height: 150%;
    /* height: 572px; */
    width: 100%;
    z-index: -1;
    object-fit: cover;
    filter:  brightness(40%) blur(.5px);
    -webkit-backdrop-filter: blur(.5px);
}
/* -============================================================================- */


/* -================================= ABOUT SECTION 2 ================================- */
.about{
    padding-top: 7rem;
    background-color: #000000;
    color: var(--text-color-w);
    overflow: hidden;
}

.about-container-top,
.about-container-bottom{
    position: relative;
    z-index: 5;
}

.about-container-top{
    gap: 3rem;
    align-items: center;
    margin-bottom: 6rem;
}

.about-image-top-container{
    width: 100%;
    height: 500px;
    position: relative;
}

.about-img{
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: var(--border-radius);
    /* opacity: 0; */
    filter: brightness(0);
}

.about-img-two{
    position: absolute;
    top: 0;
    left: 300px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    /* opacity: 0; */
    filter: brightness(0);
}

.about-description-primary{
    text-align: center;
    font-weight: var(--font-light);
}

.about-description-primary span{
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.about-top-info-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-top-info-one{
    align-items: center;
    gap: 1rem;
}

.about-top-info-two{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-info-group-one,
.about-info-group-two{
    gap: 1rem;
    align-items: center;
}

.about-container-bottom{
    gap: 2rem;
}

.about-bottom-container-one{
    align-items: center;
    gap: 4rem;
}

.about-title-alt{
    font-weight: var(--font-light);
    text-align: center;
    font-size: var(--h4-font-size);
}

.about-image-bottom-container{
    position: relative;
    width: 100%;
    max-width: 460px;
    height: 336px;
    max-height: 352px;
}

.about-bottom-container-two{
    gap: 2rem;
    max-width: 528px;
}

.about-button{
    border: 2px solid var(--text-color-w);
    color: var(--text-color-w);
}

.about-button:hover{
    background-color: var(--primary-color);
}

.about-background-image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(15%);
}
/* -============================================================================- */


/* -================================= SERVICES SECTION ================================- */
.services{
    padding-top: 7rem;
}

.services-container{
    gap: 3rem;
}

.services-header{
    gap: 3rem;
}

.services-header-button{
    border: 2px solid var(--text-color-b);
}

.services-header-button:hover{
    background-color: #000000;
}

.services-header-button:hover p{
    color: var(--text-color-w);
}

.services-list-container{
    gap: 2rem;
    box-sizing: border-box;
}

.services-list-item{
    position: relative;
    width: 100%;
    height: 336px;
    padding: 0 3rem;
    gap: 2rem;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    z-index: 5;
    transition: all .4s ease-in-out;
}

.services-list-item:hover{
    box-shadow: 0 4px 16px #00000015;
}
/* -============================================================================- */


/* -================================= SHOWCASE SECTION ================================- */
.showcase-container{
    gap: 4rem;
    align-items: center;
}

.showcase-title{
    text-align: center;
}

.showcase-grid{
    gap: 2rem;
    width: 100%;
}

.showcase-item,
.showcase-item-alt{
    position: relative;
    height: 512px;
    width: 100%;
    background-color: var(--container-color);
    border-radius: var(--border-radius);
    gap: 1rem;
    justify-content: flex-end;
}

.showcase-item-alt{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--text-color-w);
}

.showcase-item-alt h3{
    text-align: center;
    font-weight: var(--font-light);
}

.showcase-img{
    width: 100%;
    height: 304px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.showcase-img-alt{
    width: 60%;
    transform: translate(-50% , 0);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: absolute;
    top: 5rem;
    left: 50%;
}

.showcase-item-title{
    padding-left: 1rem;
}

.showcase-item-features{
    display: flex;
    align-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

.showcase-feature-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature-item-icon{
    height: 16px;
    width: 16px;
}

.showcase-item-button{
    background-color: var(--text-color-b);
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.showcase-button{
    border: 2px solid var(--primary-color);
}

.showcase-button p{
    color: var(--text-color-w);
}

.showcase-button:hover{
    background-color: var(--primary-color);
}

.showcase-button:hover p{
    color: var(--text-color-b);
}

.showcase-item-button p{
    color: var(--text-color-w);
    font-weight: var(--font-light);
}

.showcase-item-button:hover{
    background-color: var(--primary-color);
}

.showcase-item-button:hover p{
    color: var(--text-color-b);
    font-weight: var(--font-bold);
}

.showcase-image-alt-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(30%);
    object-fit: cover;
    border-radius: var(--border-radius);
}
/* -============================================================================- */

/* -================================= POOLS SECTION ================================- */
.pools{
    background-color: #000000;
    padding-top: 7rem;
    color: var(--text-color-w);
}

.pools-container{
    gap: 4rem;
    align-content: center;
}

.pools-group-one{
    gap: 1rem;
}

.pools-title{
    font-weight: var(--font-light);
}

.pools-title span{
    color: #3593FF;
}

.pools-subtitle{
    font-weight: var(--font-light);
    margin-bottom: 2rem;
}

.pools-img{
    height: 352px;
    width: 100%;
    /* max-width: 620px; */
    object-fit: cover;
    border-radius: var(--border-radius);
}

.pools-list{
    gap: 1rem;
}

.pools-list-item{
    height: 144px;
    width: 100%;
    max-width: 436px;
    background-color: #1e2025;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.pools-list-item h4{
    font-weight: var(--font-light);
}

.pools-buttons-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pool-button-primary{
    width: 100%;
    height: 48px;
    display: grid;
    place-items: center;
    border: 2px solid #3593FF;
    border-radius: var(--border-radius);
}

.pool-button-primary p{
    color: var(--text-color-w);
}

.pool-button-secondary{
    width: 100%;
    height: 48px;
    display: grid;
    place-items: center;
    border: 2px solid var(--text-color-w);
    border-radius: var(--border-radius);
}

.pool-button-secondary p{
    color: var(--text-color-w);
}
/* -=========================================================================- */

/* -================================= PORTFOLIO SECTION ================================- */
.portfolio{
    padding-top: 8rem;
}

.portfolio-title{
    text-align: center;
    margin-bottom: 6rem;
}

.portfolio-container{
    gap: 6rem;
}

.portfolio-grid-list{
    gap: 1rem;
}

.portfolio-grid-list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.portfolio-title-card{
    justify-content: center;
    gap: 1rem;
}

.portfolio-item-title,
.portfolio-item-description{
    color: var(--text-color-b);
}

.portfolio-item-description{
    font-size: 24px;
}

.sml-portfolio-card{
    height: 208px;
    width: 100%;
    grid-row: span 1;
}

.lrg-portfolio-card{
    height: 432px;
    width: 100%;
    grid-row: span 2;
}

.portfolio-image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: var(--border-radius);
}
/* -=========================================================================- */



/* -================================= FOOTER ================================- */
.footer{
    background-color: var(--text-color-b);
    padding-top: 4rem;
    color: var(--body-color);
}

.footer-container{
    gap: 3rem;
}

.footer-responsive-container{
    justify-content: space-between;
    gap: 3rem;
}

.footer-logo{
    width: 200px;
}

.footer-contact-info{
    gap: 2rem;
}

.footer-contact-info-list{
    gap: 1rem;
}

.contact-footer-list-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-footer-list-item{
    color: var(--body-color);
}

.contact-footer-list-item i{
    font-size: 1rem;
}

.contact-footer-list-item p{
    font-size: var(--normal-font-size);
}

.contact-footer-list-item p:hover{
    font-weight: var(--font-bold);
    margin: 0 .5rem;
    transition: all .4s ease-out;
}

.footer-site-links-container{
    gap: 2rem;
}

.site-links-group{
    gap: 1rem;
}

.site-links-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.site-link a{
    color: var(--body-color);
    font-weight: var(--font-regular);
}

.footer-line{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--body-color);
    margin: 4rem 0 2rem;
}

.footer-credits-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.etx-software{
    color: var(--body-color);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.etx-software span{
    font-weight: var(--font-bold);
}

.ja{
    font-size: var(--normal-font-size);
    font-weight: 300;
}
/* -=========================================================================- */



/* -================================= CSS BREAKPOINTS ================================- */
/* -==== For medium devices ====- */
@media screen and (min-width: 700px){

    /* REUSABLE CSS CLASSES */
    .container,
    .container-alt{
        margin-right: auto;
        margin-left: auto;
    }

    .responsive-container{
        flex-direction: row;
    }

    .footer-credits-container{
        flex-direction: row;
    }
}

/* -==== For medium - large devices ====- */
@media screen and (min-width: 1024px){

    .home-title{
        font-size: var(--big-font-size);
    }

    .home-background-image{
        /* height: 900px; */
        height: 150%;
    }

    /* .home-info-container{
        align-items: center;
    }

    .home-subtitle{
        text-align: center;
    } */

    /* .home-buttons-container{
        justify-content: center;
    } */

    .home-button{
        width: 344px;
    }

    .about-line{
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
    }

    .about-top-info-container{
        gap: 2rem;
    }

    .about-description-primary{
        text-align: initial;
    }

    .about-container-bottom{
        align-items: center;
    }

    .about-info-group-one,
    .about-info-group-two{
        align-items: flex-start;
    }

    .about-bottom-container-one {
        justify-self: flex-start;
        gap: 2rem;
    }

    .about-title-alt{
        text-align: initial;
    }

    .about-image-top-container{
        width: 500px;
    }

    .about-image-bottom-container{
        width: 460px;
        height: 352px;
    }

    .about-image-top-container{
        order: 2;
    }

    .about-top-info-one{
        /* width: 230px; */
        align-items: initial;
    }

    .about-container-top{
        justify-content: space-between;
    }

    .about-top-info-two{
        justify-content: flex-start;
        gap: 2rem;
    }

    .about-info-group-one{
        border-right: 2px solid var(--primary-color);
        padding-right: 1rem;
    }

    .about-info-group-one,
    .about-info-group-two{
        width: max-content;
    }

    .about-background-image{
        height: 50%;
        width: 50%;
    }

    .services-header{
        justify-content: space-between;
        align-items: center;
    }

    .services-list-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    .services-list-item{
        padding: 0 1rem;
    }

    .showcase-grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .showcase-item-alt{
        grid-column: span 2;
    }

    .pools-container{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;
    }

    .pools-buttons-container{
        flex-direction: row;
        width: 50%;
    }

    .accent-line{
        visibility: hidden;
    }

    .portfolio-grid-list{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px;
    }

    .lrg-portfolio-card{
        grid-row: span 2;
        grid-column: span 2;
    }

    .xlrg-portfolio-card{
        grid-column: span 3;
        grid-row: span 2;
    }

}
/* -==================================================================================- */
